   .jumbotron {
    box-sizing: border-box;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .main-button-container {
    margin-top: 180px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timer-p {
    margin-top: 40px;
  }
  
  .answer:hover {
    background: pink;
  }
  
  .answer {
    padding-top: 10px;
    height: 50px;
    color: black;
    padding-left: 15px;
    background-color: white;
    border-radius: 5px;
  }
  
  .img-wrong {
    margin-top: 40px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    font-family: fantasy;
    background-image: url("../images/background.png");
    color: blue;
  }